.banner{
  background-image: url('/landing/images/background.png');
  background-size:cover;
  background-position: center;
  padding: 200px;
}

.container-1 {
  margin: auto;
  color: white;
}

.container p{
  font-size: 20px;
  opacity: .5s;
  color: white;
}

.banner .container{
  position: relative;
  bottom: 100px;
}

.btn{
  color: white;
  text-decoration: none;
  background-color: rgb(87, 218, 100);
  border-radius: 7px;
  padding: 10px 23px;

}

.btn:hover{
  background-color: rgb(55, 164, 66);
}
