
.cards{
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.card img {
  height: 100px;
  object-position: center;
}

.card p{
  color: black;
  font-size: 14px;
  padding: 0 10px 10px 10px;
  margin-top: 0px;
}

.card h4{
  color: black;
  font-size: 16px;
  margin-bottom: 3px;
}

.container-2 h1{
  color:rgb(36, 36, 36);
}

.card{
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230 230 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.container-2{
  color: white;
  margin: auto;
  width: 900px;
}
